@font-face{
    font-family: 'arbutus';
    src: url('police/arbutusslab-regular-webfont.woff2') format('woff2'),
         url('police/arbutusslab-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'heartbreakingb';
    src: url('police/heart_breaking_bad-webfont.woff2') format('woff2'),
         url('police/heart_breaking_bad-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #7dc0fe;
    font-size: 20px;
    font-family: "open sans";
    text-align: justify;
}

h1{
    font-size: 3em;
    font-family: "Arbutus Slab";
}

h2{
    font-size: 2.5em;
}

h3{
    font-size: 2em;
}

h4{
    font-size: 1.5em;
}

#realisateur, section{
    background-color: #eceff4;
    width: 75%;
    color: black;
    margin: 40px 75px 0;
    padding: 0 30px;
    display: inline-flex;
    flex-wrap: wrap;
    border-radius: 20px;
}

#episode{
    background-color: #eceff4;
    color: black;
    margin: 40px 75px 40px 75px;
    display: inline-flex;
    flex-wrap: wrap;
}

#episode > article > figure, #episode > aside > figure {
    background-color: #bcffca;
    padding: 10px;
    width: 370px;
    border-style: solid;
    border-width: 1px;
}

#episode > article > figure > img, #episode > aside > figure > img {
    width: 100%;
}

section > header{
    margin-right: 55%;
    margin-left: 10px;
}

#episode > article, #episode > aside {
    width: 400px;
    margin-right: 5%;
}

#episode > article > p, #episode > aside > p {
    margin-left: 43px;
}

#acteur > figure > img {
    width: 100px;
}

#acteur > figure > figcaption {
    width: 50%;
    text-align: right;
}

#acteur > figure {
   
    margin-left: 70px;
}

#realisateur > figure > img {
    width: 10%;
}

div> article > img {
    width: 50px;
}

div {
    height: 500px;
}

div > section {
    width: 48vw;
    margin-right: 0;
    margin-left: 0;
    
}

#realisateur {  
    width: 20vw;
    margin-left: 30px;
}

div {
    display: inline-flex;
    margin: 40px 75px 0;
}

#critique {
    background-color: #f5f5f5; /* Light grey background */
    border-radius: 8px; /* Rounded corners */
    
  }
  
  #critique > header> h2 {
    margin-right: 0 ;
  }
  
  #critique div {
    display: flex;
    margin: 4;
    max-height: 400px;
  }
  
  article {
    border-radius: 8px; /* Rounded corners for articles */
    margin: 10px;
    

  }
  
  article img {
    float: left; /* Align the image to the left */
    margin-right: 10px; /* Space between the image and the text */
    border-radius: 50%; /* Make the image round */
    width: 50px; /* Set a fixed width for the image */
    height: 50px; /* Set a fixed height for the image */
  }
  
  article > p{
    margin-right: 10px;
  }

#critique>header{
    margin: 0;
}
  
