@font-face{
    font-family: 'arbutus';
    src: url('police/arbutusslab-regular-webfont.woff2') format('woff2'),
         url('police/arbutusslab-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'heartbreakingb';
    src: url('police/heart_breaking_bad-webfont.woff2') format('woff2'),
         url('police/heart_breaking_bad-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #7dc0fe;
    font-size: 20px;
    font-family: "open sans";
    text-align: justify;
}

h1{
    font-size: 3em;
    font-family: "Arbutus Slab";
}

h2{
    font-size: 2.5em;
}

h3{
    font-size: 2em;
}

h4{
    font-size: 1.5em;
}

#realisateur, section{
    background-color: #eceff4;
    width: 75%;
    color: black;
    margin: 40px 75px 0;
    padding: 0 30px;
    display: inline-flex;
    flex-wrap: wrap;
    border-radius: 20px;
}

#episode{
    background-color: #eceff4;
    color: black;
    margin: 40px 75px 40px 75px;
    display: inline-flex;
    flex-wrap: wrap;
}

#episode > article > figure, #episode > aside > figure {
    background-color: #bcffca;
    padding: 10px;
    width: 370px;
    border-style: solid;
    border-width: 1px;
}

#episode > article > figure > img, #episode > aside > figure > img {
    width: 100%;
}

section > header{
    margin-right: 55%;
    margin-left: 10px;
}

#episode > article, #episode > aside {
    width: 400px;
    margin-right: auto;
    margin-left:10px ;
}

#episode > article > p, #episode > aside > p {
    margin-left: 43px;
}


#acteur > figure > img {
    
    
}

#acteur >div> figure > figcaption {
    text-align: left;
}

#acteur>div > p{
    text-align: left;
}

#acteur >div > figure {
   
    margin-left: auto;
    margin-right: auto;
}

#acteur >header{
    margin-right: 40%;
}

#realisateur > figure > img {
    width: 10%;
}

div> article > img {
    width: 50px;
}

div {
    height: 500px;
}

#double > section {
    width: 48vw;
    margin-right: 0;
    margin-left: 0;
    
}

#realisateur {  
    width: 20vw;
    margin-left: 30px;
}

#double {
    display: inline-flex;
    margin: 40px 75px 0;
}

#critique {
    background-color: #f5f5f5; 
    border-radius: 8px; 
    
  }
  
  #critique > header> h2 {
    margin-right: 0 ;
  }
  
  #critique div {
    display: flex;
    margin: 4;
    max-height: 400px;
  }
  
  #critique>div > article {
    border-radius: 8px; 
    margin: 10px;
    margin-top: 0;
    
    

  }
  
  #critique > article img {
    float: left; 
    margin-right: 10px; 
    border-radius: 50%; 
    width: 50px; 
    height: 50px; 
  }

  #etoile{

    width: 50%;
  }
  
  #critique>div>article > p{
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom:5px ;
  }

#critique>header{
    margin: 0;
}

#realisateur>figure>img{
    width: 100%;
}
  
